{% extends "cs480proj/base.html" %}


{% block title %}Admin Menu{%endblock%}
{% block subheader %}{%endblock%}

{% block myContent %}
        <a button type="button" class="btn btn-secondary btn-lg" href='/covid/admin-menu/repository/'>View/Update Repository</button></a>
        <a button type="button" class="btn btn-secondary btn-lg" href='/covid/admin-menu/register-nurse/'>Register a Nurse</button></a>
        <a button type="button" class="btn btn-secondary btn-lg" href='/covid/admin-menu/link-to-admin/'>Go to Admin Site</button></a>
{% endblock %}