{% extends "cs480proj/base.html" %}

{% block title %}Register a Nurse{% endblock %}
{% block subheader %}{% endblock %}

{% block myContent %}
    {{message}}
    <form action='/covid/admin-menu/register-nurse/' method="post">
        {% csrf_token %}
        <input type="text"      name="first_name"  placeholder="First Name"><br>
        <input type="text"      name="last_name"   placeholder="Last Name"><br>
        <input type="text"      name="username"    placeholder="User"><br>
        <input type="email"     name="email"       placeholder="Email"><br>
        <input type="password"  name="password1"   placeholder="Password"><br>
        <input type="password"  name="password2"   placeholder="Confrim Password"><br>
        <input type="submit"    value="Register">
    </form>
{% endblock %}

